[submodule "Lighthouse/Submodules/swig"]
	path = Lighthouse/Submodules/swig
	url = https://github.com/swig/swig
[submodule "Lighthouse/Submodules/protobuf"]
	path = Lighthouse/Submodules/protobuf
	url = https://github.com/google/protobuf.git
[submodule "Lighthouse/Submodules/gtest"]
	path = Lighthouse/Submodules/gtest
	url = https://github.com/google/googletest.git
